*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    color: var(--textprimary);
    scroll-behavior: smooth;
}

:root{
    --color_primary:#fcb30c;
    --textprimary:#1b1b1b;
    --textsecondary:#9f9f9f
}

a{
    text-decoration: none;
}
.menu a:hover{
    color: var(--color_primary);
}

/* header start */
.bg-kuning{
    background-color: var(--color_primary);
}

.headerFont{
    font-size: 1.2em;
    font-weight: 700;
    text-transform: capitalize;
    padding: 15px 0px;
    color: var(--textprimary);
}
.bar{
    padding: 15px 0px;
    font-size: 1.5em;
    display: none;
    color: var(--textprimary);

}
.containerHead{
    /* background-color: lightcyan; */
    padding: 1.5% 10%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 
    background-color: white;
}
.paddingproj{
    padding: 1.5% 10%;
}
.paddingproj1{
    padding: 10%;
}
.headerMenu{
    /* background-color: lightpink; */
    display: flex;
    width: 48%;
    /* justify-content: space-between; */
}
.login{
    margin-left: auto;
    /* background-color: lightgoldenrodyellow; */
    padding: 15px 20px;
    text-transform: capitalize;
    width: 15%;
    text-align: center;
    font-weight: 700;
    border-radius: 25px;
    border:2px var(--color_primary) solid;
}
.menu{
    display: flex;
    list-style: none;
}
.menu li{
    margin: 0px 10%;
    color: var(--textprimary);
    font-size: 0.9em;
    font-weight: 600;
    text-transform: capitalize;
    align-self: center;
}
.menu li:last-child{
    margin-right: 0px;
    
}
/* header stop */


/* jumbotron1 start */

.jumbotron1 > div{
    /* background-color: ; */
    flex: 1;
}
.jumbotron1{
    display: flex;
    /* padding-top: 15vh; */
    /* background-color: lightpink; */
}
.kiri{
    padding-top: 15vh;
}
.kiri div:first-child{
    font-size: 2.8em;
    line-height: 1.2;
    letter-spacing: 1px;
    font-weight: 500;
    /* width: 80%; */
    padding-right:20% ;
    /* background-color: lightseagreen; */
}
.kiri .heading2{
    margin-top: 4%;
    color: var(--textsecondary);
    font-size: 1.2em;
    font-weight: 500;
    padding-right:25% ;

    /* background-color: lightseagreen; */
}

.layer{
    /* height: 50px; */
    margin-top: 4%;
    display: flex;
    padding: 0px 5%;
    width: 70%;
    /* background-color: seagreen; */
}


.input{
    /* background-color: gold; */
    border:transparent;
    /* height: 50px; */
    display: block;
    color: var(--textsecondary);
    font-weight: 600;
    padding: 10px;
    margin-right: 10%;
    /* background-color: ; */
    width: 40%;
    align-self: center;
    /* height: 100%; */
    /* atas kanan bawah kiri */
    /* vertikal horizontal */
}
.input:focus{
    border: transparent;
    outline: none;
}

.layer .tmbl{
    background-color: var(--color_primary);
    border: transparent;
    font-weight: 800;
    padding: 5% 0px;
    color:var(--textprimary);
    border-radius: 30px;
    width: 40%;
    text-align: center;
    /* vertical-align: center; */
}




.kanan{
    /* background-color: #fcb30c; */
    padding-top: 8vh;
}
/* jumbotron1 stop */



/* for tablet */
@media only screen and (max-width:768px){
    /* header start */

        .bar{
            display: block;
        }
        .containerHead{
            flex-wrap: wrap;
        }
        .headerMenu{
            display: none;
            /* height: 0px; */
            width: 100%;
            /* transition: 1s; */
            flex-direction: column;
        }
        .menu{
            flex-direction: column;
            margin-bottom: 20px;
            /* background-color: var(--color_primary); */
        }
        .menu > li{
            margin: 0px;
            margin-top: 5%;
            
        }
        .login{
            margin-top: 100px;
            width: 90%;
            height: 2vh;
            margin: 0px;
        }
      
    /* header stop */
    /* jumbotron1 start */
    .kiri{
        padding-top: 5vh;
    }
    .kanan{
        /* background-color: #fcb30c; */
        padding-top: 2vh;
    }
    .kiri div:first-child{
        font-size: 1.8em;
        padding-right:10% ;
        line-height: 1;
       
    }
    .kiri .heading2{
        margin-top: 4%;
        color: var(--textsecondary);
        font-size: 0.8em;
        font-weight: 500;
    
        padding-right:25% ;
    
        /* background-color: lightseagreen; */
    }
    .input{

        font-size: 0.6em;
        font-weight: 500;
        padding: 5px;
        width: 70%;
    }
    .layer{
        padding: 0px 0%; 
    }
    
    .layer .tmbl{
        font-weight: 600;
        padding: 3% 0px;
        color:var(--textprimary);
        border-radius: 20px;
        font-size: 0.6em;
        text-align: center;
        width: 40%;
        padding:5% 1%
        /* vertical-align: center; */
    }
    /* jumbotron1 stop */
}
@media only screen and (max-width:576px){
    /* header start */
    .containerHead{
        /* background-color: lightcyan; */
        padding: 1.5% 3%;

    }
    /* header stop */
    /* jumbotron1 start */
    .paddingproj1{
        padding: 14% 10%;
    }
    .jumbotron1{
        flex-direction: column;
    }
    .jumbotron1 .kanan{
        order:-1;
        height: 35vh;
    }
    .kiri div:first-child{
        padding-right:0% ;  
    }

    .paddingproj{
        padding: 1.5% 3%;
    }
    .layer{
        flex-direction: column;
        /* background-color: blue; */
        width: 100%;
        padding-left: 3%;
        padding-right: 3%;
    }
    .input{
        width: 90%;
        /* height: 100px; */
        font-size: 1em;
        text-align: center;
        border-bottom: 1px var(--textsecondary) solid;
        /* margin-left: -10%; */
        padding-bottom: 1px;
        /* background-color: black; */
    }
    .input:focus{
        border-bottom: 1px var(--textsecondary) solid;
        padding-bottom: 5px;
    }
    .layer .tmbl{
        width: 90%;
        margin-top: 4%;
        font-size: 1em;
        padding: 3% 0px;
    }

    /* jumbotron1 stop */
}