.Toastify__toast--error {
  background-color: hotpink !important;
}

.bg-modal {
  background-color: khaki !important;
}

.heart:hover {
  color: red !important;
}
.share:hover {
  color: rgb(76, 162, 243) !important;
}

.icon:hover {
  cursor: pointer;
  color: hotpink !important;
}
